<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakery List</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
      /* Custom CSS */
      .navbar {
        background-color: #343a40; /* Dark gray background */
        border-bottom: 1px solid #dee2e6; /* Light gray border */
      }

      .navbar-nav .nav-link {
        color: #ffffff; /* White text color */
      }

      .navbar-nav .nav-link:hover {
        color: #d4d4d4; /* Light gray text color on hover */
      }

      .navbar-brand {
        color: #ffffff; /* White text color for brand */
      }

      .navbar-brand:hover {
        color: #d4d4d4; /* Light gray text color on hover */
      }

      .card-img-top {
        height: 200px;
        object-fit: cover;
      }

      .card-title {
        font-size: 1.2rem;
      }

      .card-text {
        font-size: 1rem;
      }

      .btn {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Product List -->
    <div class="container mt-5">
      <h1 class="text-center mb-4">Our Bakery Products</h1>
      <div class="row">
        <% products.forEach(function(product) { %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img
              src="<%= product.imageUrl %>"
              class="card-img-top"
              alt="<%= product.name %>"
            />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.convertPriceToRupiah() %></p>
              <a href="/products/<%= product.id %>" class="btn btn-primary">
                View Details
              </a>
              <a
                href="/cart/add/<%= product.id %>"
                class="btn btn-success w-100"
                >Buy</a
              >
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
